<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- partials/habitLayout.ejs -->
<div class="top-bar-habits typing">
    <div class="titulo-habito">
        <a href="/GestionarMisHabitos" class="back-arrow">
            <i class="fas fa-chevron-left"></i>
        </a>
        <h1 class="titulo-habito-texto fw-bold"><%= habit.name %></h1>
        <img class="habit-icon" src="<%= iconPath %>" alt="<%= habit.name %>">
    </div>
</div>

<div class="separator my-2"></div>

<div class="recuadro typing">
    <div class="grid mb-4">
        <div class="titulo-info">
            <div class="w-100 texto-principal d-flex align-items-center" id="descripcionToggle">
                <i class="fa-solid fa-book-open-reader iconos-habitos"></i>
                <h2 class="mb-0 clickable-subrayado">Descripción</h2>
                <div class="grupo-iconos ms-auto" data-habit-id="<%= habit.id %>">
                    <i class="fas fa-edit iconos-habitos"  onclick="location.href='<%= editPath %>/<%= habit.id %>';"></i>
                    <i class="fas fa-trash-alt iconos-habitos" onclick="confirmarEliminacion('<%= habit.name %>', '<%= habit.id %>')" ></i>
                </div>
            </div>
        </div>
        <div id="infoCollapse" class="collapse show mt-2">
            <div class="informacion">
            <p><%= habit.description %></p>
            </div>
        </div>
    </div>

    <%- include('graficasCalendario') %>
</div>

