<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Correr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
</head>
<body class="form_habitos">
    <div class="container">
        <%- include('partials/topBar', { title: 'Correr' }) %>
        <div class="tab-content mt-4 texto-alternativo">
            <% habitName = 'Correr' %>
            <% habitUrl = 'Correr'; %>
            <% iconPath = '/img/gestorhabitos/correr.png' %>
            <%- include('partials/habitForm', { habit, habitName }) %>
        </div>
    </div>
    <%- include('partials/allScripts') %>
    <script src="/js/validarGestionarHabitos.js"></script>
    <%- include('partials/habitScript', { habitName, iconPath, habitUrl}) %>
</body>
</html>
