<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Agregar un nuevo hábito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
</head>

<body>
    <div class="container-md">
        <header>
        <%- include('partials/topBar', { title: 'Agregar un nuevo hábito' }) %>
        </header>
        <div class="separator"></div>
        <main>
            <p>Primero selecciona la categoría y posteriormente el hábito a escoger
                <%- include('partials/helpButton', { mensaje: 'Con forme se establezcan hábitos, se irán eliminando de la lista. Solo se pueden establecer un máximo 8 hábito a la vez ', tipo: 'info'}) %>
            </p>
            <div class="grid_habitos habitos">
                <div class="option" onclick="mostrarHabitos('movimiento')">
                    <img src="/img/gestorhabitos/movimiento.png" alt="movimiento_corporal" />
                    <span class="mt-2">Movimiento Corporal</span>
                </div>
                <div class="option" onclick="mostrarHabitos('bienestar')">
                    <img src="/img/gestorhabitos/bienestar.png" alt="Bienestar" />
                    <span class="mt-2">Bienestar</span>
                </div>
                <div class="option" onclick="mostrarHabitos('mental')">
                    <img src="/img/gestorhabitos/mentales.png" alt="Mentales" />
                    <span class="mt-2">Mentales</span>
                </div>
            </div>

            <!-- Contenedor donde se mostrarán los hábitos -->
            <div id="habitos-container" class="grid habitos mt-4"></div>

            <div class="btn_personalizados text-center">
                <button onclick="location.href='/personalizado';" class="btn-primary">
                    Habito personalizado
                </button>
            </div>
        </main>
    </div>

    <%- include('partials/modalInfo') %>
    <%- include('partials/navBar')%>
    <%- include('partials/allScripts') %>
    <script src="/js/gestionarHabitos.js"></script>
</body>

</html>