<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/allStyles') %>
    <title>Notificaciones</title>
</head>

<body>
    <div class="container mt-5 pt-2">
        <div class="top-bar">
            <a onclick="location.href='/inicio';" class="back-arrow">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h1 class="fw-bold">Notificaciones</h1>
        </div>
        <div class="separator my-2"></div>
        <div class="container-md pt-2">
            <div class="notif-card mt-4" id="seccion-de-notificaciones">
                <% if (notifications.length===0) { %>
                    <p>Hmm, no hay ninguna notificación por el momento.</p>
                    <% } else { %>
                        <% notifications.forEach(notification=> { %>
                            <div class="notification-item mb-3 p-3 border rounded <%= notification.isRead ? 'bg-light' : 'bg-white' %>">
                                <div class="d-flex justify-content-between align-items-center">
                                    <strong>
                                        <%= notification.title %>
                                    </strong>
                                    <small class="text-muted">
                                        <%= new Date(notification.createdAt).toLocaleString('es-MX') %>
                                    </small>
                                </div>
                                <p class="mb-0 text-secondary">
                                    <%= notification.message %>
                                </p>
                            </div>
                            <% }) %>
                                <% } %>
            </div>


        </div>
    </div>
    <script src="/js/notificaciones.js"></script>
    <!-- Bootstrap JS -->
    <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>