<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/allStyles') %>
    <title>Notificaciones</title>
</head>

<body>
    <div class="container-md pt-2">
    <%- include('partials/topBar', { title: 'Notificaciones' }) %>
    <div class="separator my-2"></div>

    <div class="notif-card seccion-de-notificaciones mt-4" id="seccion-de-notificaciones">
    <% if (notifications.length === 0) { %>
        <p>Hmm, no hay ninguna notificación por el momento.</p>
    <% } else { %>

    <% notifications.forEach((notification, index) => { %>
        <div class="notification-item mb-3 d-flex <%= notification.isRead ? 'bg-light' : 'bg-white' %>">
            <div class="me-2">
                <img src="/img/gestorhabitos/<%= notificationsIcon[index].icon %>" alt="icono <%= notification.title %>">
            </div>
            <div>
                <strong class="d-block mb-1"><%= notification.title %></strong>
                <small class="text-muted d-block mb-2"><%= new Date(notification.createdAt).toLocaleString('es-MX') %></small>
                <p class="mb-0 text-secondary"><%= notification.message %></p>
            </div>
        </div>
    <% }) %>

<% } %>

        </div>
    </div>
</div>

    <script src="/js/notificaciones.js"></script>
    <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
