<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>
    <%= habit ? habit.name : 'Hábito personalizado' %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/allStyles') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="/js/progreso.js"></script>
    <script src="/js/modal.js"></script>
</head>

<body>
  <div class="fondo-animado">

    <% if (habit && habit.completedDays>= 21) { %>
      <div class="alert alert-success d-flex align-items-center justify-content-between mb-4 shadow rounded px-4 py-3">
        <div class="d-flex align-items-center">
          <img src="/img/sharki/feliz.png" alt="Felicidades" style="width: 60px; height: auto;" class="me-3">
          <div>
            <h4 class="mb-1">¡Felicidades!</h4>
            <p class="mb-0">Has completado este hábito por <strong>
                <%= habit.completedDays %>
              </strong> días. ¡Sigue así!</p>
          </div>
        </div>
        <i class="fa-solid fa-trophy fa-2x text-warning"></i>
      </div>
      <% } %>

        <div id="contenedor-burbujas"></div>
        <div class="container-md">
          <div class="top-bar-habits typing">
              <div class="titulo-habito">
                <a href="/GestionarMisHabitos" class="back-arrow">
                  <i class="fas fa-chevron-left"></i>
                </a>
                <h1 class="titulo-habito-texto fw-bold"><%= habit.name %> </h1>
                <img class="habit-icon" src="/img/gestorhabitos/personalizado.png" alt="Personalizado">
              </div>
          </div>
          <div class="separator my-2"></div>

          <div class="recuadro typing">
                <div class="grid mb-4">
                  <div class="titulo-info">
                    <div class="w-100 texto-principal d-flex align-items-center justify-content-center" id="descripcionToggle">
                      <i class="fa-solid fa-book-open-reader iconos-habitos toggle-descripcion"></i>
                      <h2 class="mb-0 clickable-subrayado toggle-descripcion">Descripción</h2>
                      <% if (habit) { %>
                        <div class="grupo-iconos ms-auto" data-habit-id="<%= habit.id %>">
                          <i class="fas fa-edit iconos-habitos"
                            onclick="location.href='/habitopersonalizado/<%= habit.id %>/editar';"></i>
                          <i class="fas fa-trash-alt iconos-habitos"
                            onclick="confirmarEliminacion('<%= habit.name %>', '<%= habit.id %>')"></i>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div id="infoCollapse" class="collapse show mt-2">
                    <div class="informacion">
                      <p> <%= habit ? habit.description : 'No hay descripción aún.' %></p>
                    </div>
                  </div>
                </div>
                  <div class="seccion-graficas">
                    <h2 class="text-center mb-3">Estadisticas
                      <%- include('partials/helpButton', {
                        mensaje: 'Las <strong>gráficas</strong> muestran tu progreso semanal del habito.' , tipo: 'info'
                        }) %>
                    </h2>
                    <div class="text-center mb-4">
                      <button id="btn-graficas" class="btn btn-primary me-2 btn-graficas">
                        <i class="fas fa-chart-bar"></i>
                        Semanal
                      </button>
                      <button id="btn-calendario" class="btn btn-secondary btn-calendario">
                        <i class="fas fa-calendar-alt"></i>
                        Calendario
                      </button>
                    </div>
                  </div>

                <div id="seccion-graficas" class="seccion-graficas">
                  <div class="text-center mb-3">
                    <!-- <button id="btn-semana" class="btn btn-primary me-2">Última<br>semana</button>
        <button id="btn-mes" class="btn btn-secondary">Último<br>mes</button> -->
                  </div>
                  <div class="grid grafica" id="grafica">
                    <div class="tab-pane active" id="u-semana">
                      <h2 class="text-center">Semana Actual</h2>
                      <div class="d-flex justify-content-between align-items-center my-3">
                        <button id="semana-anterior" class="btn btn-outline-primary-mine btn-sm"><i class="fa-solid fa-arrow-left"></i></button>
                        <span id="rango-semana" class="fw-bold"></span>
                        <button id="semana-siguiente" class="btn btn-outline-primary-mine btn-sm"><i class="fa-solid fa-arrow-right"></i></button>
                      </div>

                      <canvas id="graficaSemana" height="300px"></canvas>
                      <div id="imgSemanaVacia" class="text-center d-none">
                        <img src="/img/sharki/triste.png" alt="Sin registros" style="max-width: 200px;">
                        <p class="fw-bold mt-3">No hay registros para mostrar la gráfica.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="seccion-calendario" class="seccion-calendario d-none">
                  <div class="grid calendario">
                    <div class="text-center">
                      <h2>Calendario
                        <%- include('partials/helpButton', {
                          mensaje: 'El <strong>calendario</strong> muestra los dias en los que has cumplido con el habito (estos estan marcados en color verde).'
                          , tipo: 'info' }) %>
                      </h2>
                      <p id="tituloMes" class="mb-3"></p>
                      <div id="calendarioHabito" class="calendario-grid mx-auto"></div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
  </div>

  <%- include('partials/modalInfo') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
    <script>
      function confirmarEliminacion(nombre, id) {
        Swal.fire({
          title: '¿Eliminar hábito?',
          text: `¿Estás seguro de que deseas eliminar "${nombre}"?`,
          imageUrl: '/img/sharki/triste.png',
          imageWidth: 250,
          showCancelButton: true,
          confirmButtonText: 'Sí, eliminar',
          cancelButtonText: 'Cancelar',
          customClass: {
            popup: 'swal-fullscreen animate-popup',
            confirmButton: 'btn-primary',
            cancelButton: 'btn-cancel '
          },
        }).then(async (result) => {
          if (result.isConfirmed) {
            const response = await fetch(`/api/habit/${id}`, {
              method: 'DELETE',
              headers: {
                Authorization: `Bearer ${localStorage.getItem('token')}`
              }
            });

            if (response.ok) {
              mostrarAlerta({
                title: 'Eliminado',
                text: 'El hábito ha sido eliminado',
                imageUrl: '/img/sharki/triste.png', // o la imagen que prefieras
                redirectUrl: '/GestionarMisHabitos',
                btnText: 'Aceptar'
              });
            } else {
              mostrarAlerta({
                title: 'Error',
                text: 'El hábito no pudo ser eliminado',
                imageUrl: '/img/sharki/curioso.png', // o la imagen que prefieras
                redirectUrl: '/GestionarMisHabitos',
                btnText: 'Aceptar'
              });
            }
          }
        });
      }

      function mostrarAlerta({ title, text, imageUrl, redirectUrl, btnText }) {
        document.body.classList.add('no-scroll');
        console.log('Lanzando alerta...');

        Swal.fire({
          title: title,
          text: text,
          imageUrl: imageUrl,
          imageWidth: 250,
          // imageHeight: 250,
          background: '#ffffff',
          showConfirmButton: true,
          confirmButtonText: btnText,
          customClass: {
            popup: 'swal-fullscreen animate-popup',
            confirmButton: 'btn-primary mt-4'
          },
          allowOutsideClick: false,
          allowEscapeKey: false,
          backdrop: true,
          focusConfirm: false
        }).then((result) => {
          console.log('SweetAlert cerrado con:', result);
          document.body.classList.remove('no-scroll');
          if (redirectUrl) {
            window.location.href = redirectUrl;
          }
        });
      }
    </script>

</body>

</html>
