<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Racha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/allStyles') %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="container py-4">
    <%- include('partials/topBar', { title: 'Días de Racha' }) %>

    <!-- Caja de días generada por JS -->
      <div class="days-row" id="daysRow">
        <!-- Se llenará dinámicamente desde racha.js -->
      </div>

    <div class="streak-container">
      <img src="/img/animacion.gif" alt="animación" class="imagen-animada" id="shark">

      <div class="streak">
        <div class="streak-number" id="streakDays">0</div>
        <div class="streak-label">¡Días cumpliendo tus hábitos! 
          <%- include('partials/helpButton', {
                  mensaje: 'Completa al menos un hábito para extender tu racha.', tipo: 'info' }) %>
        </div>
      </div>

      <!-- Aquí va el mensaje dinámico -->
      <div class="message-box" id="message">Cargando...</div>

      
    </div>
  </div>
  <%- include('partials/modalInfo') %>
  <%- include('partials/allScripts') %>
  <script src="/js/racha.js"></script>
</body>

</html>